#creditCardsContainer {
    margin: 50px 0;
}

#creditCardsList {
    margin: 20px 0;
}

.creditCard {
    text-align: left;
    background-color: #282C34;
    padding: 10px;
    margin-bottom: 2px;
}

.creditCard ul li {
    list-style: none;
}

.labelInfoCard {
    font-weight: bold;
}


.creditCardForm {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0 !important;
    background-color: #2b2f37;
}