/* CARDS */

#creditCardsContainer {
    margin: 50px 0;
}

#creditCardsList {
    margin: 20px 0;
}

.creditCard {
    text-align: left;
    background-color: #282C34;
    padding: 10px;
    margin-bottom: 2px;
}

.creditCard ul li {
    list-style: none;
}

/* ADDING CARD FORM */

.addCreditCard-btn {
    margin-top: 10px;
}

.creditCard-form {
    background-color: #2b2f37;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 2px;
}

.creditCard-formGroup {
    padding: 10px 40px;
    margin-bottom: 0 !important;
}

.creditCardForm-input {
    min-width: 70px;
}

.labelInfoCard {
    font-weight: bold;
}


.creditCardForm-btn {
    margin-left: 5px;
}

@media (max-width: 995px) {
    .labelInfoCard {
        margin-right: 5px;
    }
}