.App {
  text-align: center;
  /*background-color: #282c34;*/
  background: linear-gradient(90deg, #262931, #2e323c);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/*.App-header {
    !*background-color: #282c34;*!
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}*/

.App-logo {
  margin-top: 45px;
  margin-bottom: 20px;
  height: 30vmin;
}

.App-link {
  color: #09d3ac;
}

.home-container {
  line-height: 1.5;
  background-color: #404754;
  border-style: solid;
  border-radius: 50px;
  padding-bottom: 50px;
  padding-left:85px;
  padding-right:85px;
  padding-top: 50px;
  margin-top:30px;
  margin-bottom:30px;
  }

@media (min-width: 600px) {
  .container-in {
    margin: 0 100px;
  }
}


.reset-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}